<% layout('layouts/adminBoilerplate')%>
<main>
    <section class="container  u-margin-top-big">
        <h3 class="secondary-heading">Edit service</h3>
        <div class="login mx-auto mt-5">
            <div class="login__details">
                <form action="<%=services._id%>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate
                    class="validated-form">
                    <div class="login__username mt-5">
                        <label for="serviceImage" class="">Service Image</label>
                        <input type="file" placeholder="Service Image" name="serviceImage" id="serviceImage">
                    </div>
                    <div class="login__password">
                        <label for="serviceTitle" class="">Service Title</label>
                        <input type="text" value="<%=services.serviceTitle%>" placeholder="Service title"
                            name="serviceTitle" id="serviceTitle" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="login__password">
                        <label for="description">Service Description</label>
                        <textarea class="form-control login__textarea" name="serviceDescription" id="description"
                            rows="6" required><%=services.serviceDescription%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <a href="../overview" class="login__btn login__btn-save mx-auto">Cancel</a>
                    <button class="login__btn login__btn-save ms-auto" type="submit">Save</button>
                </form>
            </div>
        </div>

    </section>
</main>